.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.head-text {
  font-size: 2rem;
}
.box-text {
  margin-top: 1rem;
}

.box{
  margin-top: 2rem;
  height: 600px;
  width: 450px;
  background-color: #ffff66;
}

.b1-r1 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.b1,
.b2 {
  margin-top: 1rem;
  height: 250px;
  width: 180px;
  background-color: #80bfff;
}


.b1-r2 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #80bfff;
  height: 300px;
  text-align: left;
}

.b2-r{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.b2-b1,
.b2-b2 {
  margin-top: 1.5rem;
  background-color: #80bfff;
  height: 550px;
  width: 170px;
}

.b3-r1,
.b3-r2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.b3-r1-b1,
.b3-r2-b2 {
  background-color:#80bfff;
  height: 270px;
  width: 160px;
  margin-top: 1rem;
}

.b3-r1-b2,
.b3-r2-b1 {
  height: 270px;
  width: 160px;
  margin-top: 1rem;
}

.img1 {
  height: 150px;
  width: 150px;
  margin-top: 7rem;
}
.img2 {
  height: 150px;
  width: 150px;
}

